/*  your css code here. If applicable */
.before{
	font-size:20px;
	color:rgb(255,0,0);
	font-weight:500;
}
.main{
	display:flex;
	justify-content:bottom;
}
.after{
	
	font-size:20px;
	color:rgb(255,0,0);
	font-weight:500;

}